<div class='footer'>

  <div class=footer-message>
    <h3>θ­γ‚“γ ζ¬γ‚’γΎγ¨γ‚γ¦η΄Ήδ»‹γ—γ‚γ†</h3>
  </div>

  <div class='books-passage'>
    <%= link_to 'π”Ήπ•†π•†π•‚π• β„™π”Έπ•π•π”Έπ”Ύπ”Ό', root_path, class: 'books-passage-icon'%>
  </div>

  <div class=footer-message>
    <h3>ζ„ζƒ³γ‚’ε…±ζ‰γ—γ¦ζ¬΅γ«θ­γΏγγ„ζ¬γ‚’ζΆγγ†</h3>
  </div>

</div>