<div class='form-side' >

<div class='form-page'>

<div class='books-passage'>
  <%= link_to '𝔹𝕆𝕆𝕂𝕊 ℙ𝔸𝕊𝕊𝔸𝔾𝔼', root_path, class: 'books-passage-icon'%>
</div>

<div class='form-header'>
    <h1 class='form-header-text'>
       本の感想や、心に残った一文、あらすじをまとめよう
    </h1>
</div>


</div>
</div>
