.form-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFEFD5;
  height: 100vh;
}

.form-header {
  width: 200px;
  padding: 10px;
  margin: 20px;
  border: 2px solid wheat;
  background-color: white;
  text-align: center;
}

.form-header-text{
}

.form-group {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}