html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%}legend{color:#000}#yui3-css-stamp.cssreset{display:none}

.top-page-header {
  height: 100px;
  background-color: #FFEFD5;
  display: flex;
  flex-direction: row;
}

.search-bar-contents {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.books-passage-head {
  display: flex;
  width:  290px;
  background-color: teal;
}

.move-icon {
  backdrop-filter: blur(8px);
  height: 100px;
  width:  290px;
  position: fixed;
  display:table;
  text-align:center;
}

.books-passage-icon-head {
  text-decoration: none;
  color: white;
  font-size: 30px;
  resize: none;
  display:table-cell;
  vertical-align:middle;
}

.header-right {
  width: calc(100vw - 300px);
  display: flex;
}

.search-form {
  width: 65vw;
  height: 5vh;
  display: flex;
  position: fixed;
  top: 10px;
}

.search-form>.input-box {
  width: 100%;
  height: 5vh;
  padding-left: 10px;
  border-radius: 10px;
}

.search-button {
  width:5vh;
  height: 5vh;
  border: 0;
  cursor: pointer;
  background-color: wheat;
  padding: 8px;
  border-radius: 5px;
}

.search-icon {
  width: 100%;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vh 0;
  text-decoration: none;
  width: 200px;
}

.genre-list {
  height: 30px;
  margin-top: 50px;
  padding-top: 5px;
  text-decoration: none;
  color: black;
  border: 3px solid wheat;
  border-radius: 5px;
}

.user-nickname {
  text-decoration: none;
  font-weight: bold;
  color: black;
  border-bottom: 2px solid #2F4F4F;
  cursor: pointer;
  cursor: hand;
}

.logout {
  text-decoration: none;
  background-color: teal;
  color: white;
  border: 2px solid #2F4F4F;
  cursor: pointer;
  cursor: hand;
  border-radius: 5px;
}

.login {
  text-decoration: none;
  background-color: teal;
  color: white;
  border: 2px solid #2F4F4F;
  cursor: pointer;
  cursor: hand;
  border-radius: 5px;
}

.sign-up {
  text-decoration: none;
  background-color: teal;
  color: white;
  border: 2px solid #2F4F4F;
  cursor: pointer;
  cursor: hand;
  border-radius: 5px;
}
