.books-passage {
  display: flex;
  width:  290px;
  height: 150px;
}

.books-passage-icon {
  text-align:center;
  text-decoration: none;
  background-color: teal;
  color: white;
  font-size: 30px;
  padding: 50px 15px;
}