.iine-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.iine {
  background-image: url('iine');
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-color: teal;
  border: 2px solid #2F4F4F;
  width: 45px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  cursor: hand;
}

.iine-text {
  width: 150px;
  padding-bottom: 5px;
}

.iine-shiori {
  background-image: url('iine-shiori');
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-color: #2F4F4F;
  border: 2px solid teal;
  width: 45px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  cursor: hand;
}