html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%}legend{color:#000}#yui3-css-stamp.cssreset{display:none}

.wrapper {
  display: flex;
}

.side-bar {
  background-color: #FFEFD5	;
  width: 300px;
  height: 100vh;
}

.main {
  background-color: #FFFAFA;
  width: calc(100vw - 300px);
}

.title {
  background-image: url("books-768426_1280");
  background-repeat: no-repeat;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-title {
  font-size: 50px;
  color: white;
  background-color: teal;
}

.books-lists {
  display: flex;
}

.what-lists{
  background-color: teal;
  color: white;
}

.left-books {
  list-style: none;
  width: calc(60vw - 300px);
  border: 1px solid white;
  text-align:center;
  padding: 10px;
  margin: 10px;
}

.right-books {
  list-style: none;
  width: calc(60vw - 300px);
  border: 1px solid white;
  text-align:center;
  padding: 10px;
  margin: 10px;
}

.book-content {
  background-color: #FFEFD5;
  margin: 10px;
  padding: 5px;
  border: 3px solid wheat;
}

.book-image {
  width: auto;
  height: 33vh;
}