html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%}legend{color:#000}#yui3-css-stamp.cssreset{display:none}

.show-content {
  background-image: url("books-768426_1280");
  width: calc(100vw - 290px);
}

.book-box {
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 400px;
  border: 50px double wheat ;
  background-color: #FFEFD5;
  text-align: center;
}

.show-book-title {
  width: 1000px;
  font-size: 50px;
  font-weight: bold;
}

.show-book-image {
  width: auto;
  height: 50vh;
}

.show-book-genre{
  width: 400px;
}

.show-book-author {
  width: 1000px;
}

.show-book-user {
  text-decoration: none;
  width: 1000px;
}

.content-table {
  text-align: center;
  word-wrap: break-word;
}

.table {
  margin: 10px;
  border: 2px solid wheat ;
  background-color: white;
  width: 700px;
}

.table-name {
  background-color: teal;
  color: white;
}

.table-value {
  text-align: left;
  padding: 5px;
}

.open-btn {
  width: 700px;
  height: 70px;
  background-color: teal;
  color: white;
  border: 2px solid #2F4F4F;
  cursor: pointer;
  cursor: hand;
}

.user-edit-btn {
  background-color: teal;
  width: 100px;
}